<!-- <p>sidenavbar works!</p> -->



<div class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
    <h5>Navigation</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/call-center" routerLinkActive="active">Call Center</a>
      </li>
    </ul>
  </div>







<!-- 
<div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-0 bg-secondary p-3">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">DCT</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a routerLink="" class="nav-link align-middle px-0 text-white" routerLinkActive="active">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link align-middle px-0 text-white" routerLinkActive="active">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Master</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link align-middle px-0 text-white" aria-controls="callCenterMenu" aria-expanded="false">
                 <i class="fs-4 bi-telephone"></i> 
                 <span class="ms-1 d-none d-sm-inline">Call Center</span>
                 8967<i class="bi bi-chevron-down ms-auto" ></i>
              </a>  
              <div >
                <ul class="btn-toggle-nav list-unstyled ps-2 small">
                    <li><a routerLink="" class="link-light rounded" >Case</a></li>
                    <li><a routerLink="" class="link-light rounded" >Opportunities</a></li>
                     <li><a routerLink="/quote" class="link-light rounded" [routerLinkActive]="['active']">Quote</a></li>
                    <li><a routerLink="/service-appointments" class="link-light rounded" [routerLinkActive]="['active']">Service Appointments</a></li>
                    <li><a routerLink="/vendor-service-appointments" class="link-light rounded" [routerLinkActive]="['active']">Vendor Service Appointments</a></li> 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a routerLink="/inventory" class="nav-link align-middle px-0 text-white" routerLinkActive="active">
                <i class="fs-4 bi-cart"></i> <span class="ms-1 d-none d-sm-inline">Inventory</span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/it" class="nav-link align-middle px-0 text-white" routerLinkActive="active">
                <i class="fs-4 bi-check-square"></i> <span class="ms-1 d-none d-sm-inline">Item to Approve</span>
              </a>
            </li> 
          </ul>
          <hr>
          <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fs-4 bi-person-circle"></i>
              <span class="d-none d-sm-inline mx-1">User</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="col py-3">
        <h1>Main Content Area</h1>
        <p>This is where your page content will go.</p>
      </div>
    </div>
  </div>  -->
